/chrome-win-x64/chrome.exe
/chrome-win-x64/chrome_100_percent.pak
/chrome-win-x64/chrome_200_percent.pak
/chrome-win-x64/chrome_elf.dll
/chrome-win-x64/chrome_proxy.exe
/chrome-win-x64/chrome_pwa_launcher.exe
/chrome-win-x64/D3DCompiler_47.dll
/chrome-win-x64/elevation_service.exe
/chrome-win-x64/eventlog_provider.dll
/chrome-win-x64/First Run
/chrome-win-x64/icudtl.dat
/chrome-win-x64/interactive_ui_tests.exe
/chrome-win-x64/libEGL.dll
/chrome-win-x64/libGLESv2.dll
/chrome-win-x64/mojo_core.dll
/chrome-win-x64/nacl_irt_x86_64.nexe
/chrome-win-x64/notification_helper.exe
/chrome-win-x64/resources.pak
/chrome-win-x64/v8_context_snapshot.bin
/chrome-win-x64/locales
/chrome-win-x64/MEIPreload
/chrome-win-x64/swiftshader
/chrome-win-x64/85.0.4161.0.manifest
/chrome-win-x64/chrome.dll
/chrome-win-x86/First Run
/chrome-win-x86/icudtl.dat
/chrome-win-x86/interactive_ui_tests.exe
/chrome-win-x86/libEGL.dll
/chrome-win-x86/libGLESv2.dll
/chrome-win-x86/mojo_core.dll
/chrome-win-x86/nacl_irt_x86_32.nexe
/chrome-win-x86/nacl_irt_x86_64.nexe
/chrome-win-x86/nacl64.exe
/chrome-win-x86/notification_helper.exe
/chrome-win-x86/resources.pak
/chrome-win-x86/v8_context_snapshot.bin
/chrome-win-x86/locales
/chrome-win-x86/MEIPreload
/chrome-win-x86/swiftshader
/chrome-win-x86/85.0.4161.0.manifest
/chrome-win-x86/chrome.dll
/chrome-win-x86/chrome.exe
/chrome-win-x86/chrome_100_percent.pak
/chrome-win-x86/chrome_200_percent.pak
/chrome-win-x86/chrome_elf.dll
/chrome-win-x86/chrome_proxy.exe
/chrome-win-x86/chrome_pwa_launcher.exe
/chrome-win-x86/D3DCompiler_47.dll
/chrome-win-x86/elevation_service.exe
/chrome-win-x86/eventlog_provider.dll
/chromium_windows_setup.exe
